---
// @ts-ignore
import CVContent from "../../content/cv.typ?html&body";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CV - Hongtao Zhang">
    <main class="max-w-[min(50rem,calc(100%-2em))] mx-auto py-12 px-4">
        <section aria-label="CV">
            <CVContent />
        </section>
    </main>
</Layout>
