---
// @ts-ignore
import CVContent from "../../content/cv.typ?html&body";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CV - Hongtao Zhang">
  <main class="">
    <h1 class="component-title">Curriculum Vitae</h1>
    <section aria-label="CV" class="prose prose-l">
      <CVContent />
    </section>
  </main>
</Layout>
