---
// @ts-ignore
import AboutContent from "../../content/about.typ?html&body";
// @ts-ignore
import NewsContent from "../../content/news.typ?html&body";
import Layout from "../layouts/Layout.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<Layout>
	<meta
		slot="head"
		name="google-site-verification"
		content="J8Yc4-EaEQx6b1dJE5FnXiG7HtDTaVmMnMQJgjgOZto"
	/>
	<main class="max-w-[min(50rem,calc(100%-2em))] mx-auto py-12 px-4">
		<section aria-label="About" class="mb-12">
			<div
				class="grid grid-cols-1 md:grid-cols-[1fr_auto] gap-12 items-start"
			>
				<div class="prose lg:prose-l">
					<AboutContent />
				</div>
				<div class="flex justify-center md:order-0 order-first">
					<img
						src={`${import.meta.env.BASE_URL}profile-photo.png`}
						class="w-[150px] h-[180px] object-cover rounded-xl mt-8 shadow-md transition-all duration-300 hover:-translate-y-0.5 hover:shadow-xl"
						width="400"
						height="400"
						loading="eager"
					/>
				</div>
			</div>
		</section>

		<section aria-label="Latest News" class="mt-12">
			<NewsContent />
		</section>
	</main>
</Layout>
